@page "/brons/delete"
@using Microsoft.EntityFrameworkCore
@using MLP10.Data
@inject IDbContextFactory<MLP10.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Удалить</PageTitle>

<h1>Удалить</h1>

<p>Вы уверены, что хотите удалить запись?</p>
<div>
    <hr />
    @if (Arenda is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">ApartamentId</dt>
            <dd class="col-sm-10">@Arenda.ApartamentId</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">GostId</dt>
            <dd class="col-sm-10">@Arenda.GostId</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">DateIn</dt>
            <dd class="col-sm-10">@Arenda.DateIn</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">DateOut</dt>
            <dd class="col-sm-10">@Arenda.DateOut</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Cost</dt>
            <dd class="col-sm-10">@Arenda.Cost</dd>
        </dl>
        <EditForm method="post" Model="Arenda" OnValidSubmit="DeleteArenda" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(Arenda is null)">Удалить</button> |
            <a href="@($"brons?id={ArendaId}&op={op}")">Вернуться</a>
        </EditForm>
    }
</div>

@code {
    [SupplyParameterFromQuery]
    private int ArendaId { get; set; }

    private Arenda? Arenda { get; set; }

    [SupplyParameterFromQuery]
    private int? op { get; set; }

    private int? id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Arenda = await context.Arendas.FirstOrDefaultAsync(m => m.ArendaId == ArendaId);

        if (Arenda is null)
        {
            NavigationManager.NavigateTo("notfound");
        }

        if (op == 1)
        {
            id = Arenda!.ApartamentId;
        }
        else
        {
            id = Arenda!.GostId;
        }
    }

    private async Task DeleteArenda()
    {
        using var context = DbFactory.CreateDbContext();
        context.Arendas.Remove(Arenda!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/brons?id=" + id.ToString() + "&op=" + op.ToString());
    }
}
