@page "/brons/details"
@using Microsoft.EntityFrameworkCore
@using MLP10.Data
@inject IDbContextFactory<MLP10.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Просмотр</PageTitle>

<h1>Удалить</h1>

<div>
    <hr />
    @if (bron is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">ApartamentId</dt>
            <dd class="col-sm-10">@bron.ApartamentId</dd>
            <dt class="col-sm-2">GostId</dt>
            <dd class="col-sm-10">@bron.GostId</dd>
            <dt class="col-sm-2">DateIn</dt>
            <dd class="col-sm-10">@bron.DateIn</dd>
            <dt class="col-sm-2">DateOut</dt>
            <dd class="col-sm-10">@bron.DateOut</dd>
            <dt class="col-sm-2">Cost</dt>
            <dd class="col-sm-10">@bron.Cost</dd>
        </dl>
        <div>
            <a href="@($"/brons/edit?bronid={bron.ArendaId}&op={op}")">Редактировать</a> |
            <a href="@($"/brons?op={op}")">Вернуться</a>
        </div>
    }
</div>

@code {
    [SupplyParameterFromQuery]
    private int? op { get; set; }

    private Arenda? bron;

    [SupplyParameterFromQuery]
    private int ArendaId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        bron = await context.Arendas.FirstOrDefaultAsync(m => m.ArendaId == ArendaId);

        if (bron is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
